# This is a basic workflow to help you get started with Actions

name: Build-I-D

# This action only watches one single directory!
env:
  dir: rfc7525

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths:
    - '${{dir}}/**'
  pull_request:
    branches: [ main ]
    paths:
    - '${{dir}}/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Create IETF I-D environment
      - name: Create I-D environment
        run: |
          sudo gem install kramdown-rfc2629
          sudo pip3 install xml2rfc

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Make artifacts
      - name: Make artifacts
        run: |
          cd ${{dir}}
          make

      # Create output
      - name: Create output
        run: |
          mv ${{dir}}/*.html docs/

      # Publish
      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          destination_dir: docs
          exclude_assets: '.github,.nojekyll'
          keep_files: true
